<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/style/img/error.gif" type="image/x-icon">
    <link rel="stylesheet" href="/static/style/error.css" />
    <title>Error Page</title>
</head>
<body>
    <div class="error-container">
        <h1 class="oops">Oops!</h1>
        <h2 class="status">{{.Status}}</h2>
        <p class="mssg">{{.Mssg}}</p>
        <a href="/" class="back-btn">Back to Home</a>
    </div>
</body>
</html>
