<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/static/style/img/favcon.gif" type="image/x-icon">

    <link rel="stylesheet" href="static/style/login.css" />
    <title>Login</title>
  </head>
  <body>
    <div class="container">
      
      <div class="form-group">
        <label for="email">Email:</label><br />
        <input type="email" id="email" name="email" required />
      </div>
      <div class="form-group">
        <label for="password">Password:</label><br />
        <input type="password" id="password" name="password" required />
      </div>
      <button class="btn">Login</button>
      <a href="/" class="btn back-btn">Back to Home</a>
    </div>
    <script src="/static/js/login.js"></script>
  </body>
</html>
