<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/static/style/img/favcon.gif" type="image/x-icon">

    <title>Forum - Home</title>
    <link rel="stylesheet" href="/static/style/home.css" />
    <link rel="stylesheet" href="/static/js/comments.js" />
  </head>
  
  <body>
    <header>
      <h1>Welcome to the Forum</h1>
      <a href="/login"  class="login-btn loged">login</a>
      <a href="/register" class="register-btn loged">register</a>
      <a href="/newPost" class="newPost-btn unloged">create new a post</a>
      <form action="/logout" method="POST">
        <button type="submit" class="log-out-btn unloged">Log Out</button>
      </form>
    </header>
    <div class="container">
      <audio id="background-audio" autoplay loop>
        <source src="/static/style/audio/audio.mp3" type="audio/mpeg">
    </audio>
    <button id="mute-button" aria-label="Mute">
      <svg id="mute-icon"  viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="currentColor">
          <path d="M12 3.5L6 8H2v8h4l6 4.5V3.5zM16.5 12l2.8-2.8c.4-.4.4-1 0-1.4s-1-.4-1.4 0l-2.8 2.8-2.8-2.8c-.4-.4-1-.4-1.4 0s-.4 1 0 1.4l2.8 2.8-2.8 2.8c-.4.4-.4 1 0 1.4s1 .4 1.4 0l2.8-2.8 2.8 2.8c.4.4 1 .4 1.4 0s.4-1 0-1.4L16.5 12z" />
      </svg>
  </button>
      <h2>Posts</h2>
      </div>
      <div id="posts"></div>
    </div>

    <script src="/static/js/fetchPosts.js"></script>
    <script src="/static/js/comments.js"></script>
    
  </body>
</html>