<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="https://media2.giphy.com/media/j5mwjor5i5PGigmPH2/giphy.gif?cid=6c09b952wuthitxzfig2hf5p2erzmtn5u3m02et8gimwiner&ep=v1_gifs_search&rid=giphy.gif&ct=g" type="image/x-icon">

    <title>Forum - Home</title>
    <link rel="stylesheet" href="/static/style/home.css" />
    <link rel="stylesheet" href="/static/js/comments.js" />
  </head>
  <body>
    <header>
      <h1>Welcome to the Forum</h1>
      <a href="/login"  class="login-btn loged">login</a>
      <a href="/register" class="register-btn loged">register</a>
      <a href="/newPost" class="newPost-btn unloged">create new a post</a>
      <form action="/logout" method="POST">
        <button type="submit" class="log-out-btn unloged">Log Out</button>
      </form>
    </header>
    <div class="container">
      <h2>Posts</h2>
      </div>
       <!-- Filter Dropdown -->
    <form id="filter-form" action="/category" method="GET">
      <label for="category-filter">Filter by Category:</label>
      <div>
        <input type="checkbox" name="categories" value="tech" id="category-tech" />
        <label for="category-tech">Tech</label>
      </div>
      <div>
        <input type="checkbox" name="categories" value="science" id="category-science" />
        <label for="category-science">Science</label>
      </div>
      <div>
        <input type="checkbox" name="categories" value="sport" id="category-sport" />
        <label for="category-sport">Sport</label>
      </div>
      <button type="submit" id="apply-filter">Apply</button>
    </form>

      <div id="posts"></div>

    </div>

    <script src="/static/js/fetchPosts.js"></script>
    <script src="/static/js/comments.js"></script>
      <script src="/static/js/likes.js"></script>
      <script type="module">
        import {fetchPosts , toggleComments, toggleDetails} from "/static/js/fetchPosts.js"
        fetchPosts("posts");
      </script>
    
  </body>
</html>